<div id="success--message" class="notification">
  <div class="notification-subject">
    <i class="fas fa-solid fa-check check"></i>

    <div class="message">
      <span class="text text-1">Success</span>
      <span class="text text-2">Your changes has been saved</span>
    </div>
  </div>
  <i class="fa-solid fa-xmark close--btn"></i>
</div>

<h2 class="header">Your Daily Dose of Sporting Truths</h2>

<% articles.forEach(article => { %>
<div class="article">
  <div class="article--left--side">
    <img
      class="article--image"
      src="<%= article.image %>"
      alt="football article image"
    />
  </div>
  <div class="article--right--side">
    <div class="sport--author">
      <p class="article--sport--type"><%= article.sportType %></p>
      <p class="article--date">
        <%= article.createdAt.toLocaleDateString("ro-RO") %>
      </p>
      <p class="article--author"><%= article.author %></p>
    </div>
    <h4 class="article--title"><%= article.title %></h4>
    <p class="article--subject">
      <% if (article.content.length > 410) { %> <%= article.content.substring(0,
      410) + "..." %> <% } else { %> <%= article.content %> <% } %>
    </p>
    <a class="article--link" href="/post/<%= article._id %>">Read More</a>
    <hr />
    <div class="article--comments">
      <p>
        <span class="comments--number"><%= article.comments.length %></span>
        <span class="comments--text">
          <% if (article.comments.length === 1) { %> comment <% } else { %>
          comments <% } %>
        </span>
      </p>
    </div>
  </div>
</div>
<% }) %>
